body {
    background-color: bisque;
    }
section {
    padding: auto;
    margin-top : 50 px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    }

h1{
    padding-left: 15px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
  }

h2 {
    text-align: center;
   }

h3{
    margin-left: 40px ;
    margin-top: 40px;
  }

hr {
    width: 1300px;
  }

form input {
    margin-top: -1px;
    padding: 12px;
    border: 1px solid #ddd; 
    margin-top: -1px;   
  }

#oneHashtag {
    width: 1300px;
    height: 30px;
    background-color: green;
    margin-bottom: 10px;
    margin-left:5px;
    text-align: justify;
    }

 fieldset ul li {
    list-style-type: none;                       /* remove bullets*/
    padding: 0;                                  /* remove padding*/
    margin: 0;                                   /* remove margin*/
    border: 1px solid #ddd;                    /* Add a thin border to each list item*/
    margin-top: -1px;                            /* prevent double borders*/
    background-color: #f6f6f6;                 /* add a grey background color*/
    padding: 12px;   
    margin-right: 40px;                           /*add some padding*/
    }

 .output {
    margin-top: 10px    ;
    }
 
