body {
    background-color: bisque;
}
h1{
    padding: auto;
    margin-top : 50px;
    margin-left: 20px;
}

h2 {
    text-align: center;
}

h3{
    margin-left: 40px ;
    margin-top: 40px;
}

hr {
    width: 1300px;
}

form input {
    margin-top: -1px;
    padding: 12px;
    border: 1px solid #ddd; 
    margin-top: -1px;   
   
    
}
#section-1{
    width: 1300px;
    height: 70px;
    background-color: green;
}
 fieldset ul li {
    list-style-type: none;                       /* remove bullets*/
    padding: 0;                                  /* remove padding*/
    margin: 0;                                   /* remove margin*/
    border: 1px solid #ddd;                    /* Add a thin border to each list item*/
    margin-top: -1px;                            /* prevent double borders*/
    background-color: #f6f6f6;                 /* add a grey background color*/
    padding: 12px;                               /*add some padding*/
}

